---
layout: compress
---

    <nav class="workshops__breadcrumb breadcrumb is-small has-arrow-separator" aria-label="breadcrumbs">
        <ul>
            <li class="is-active">
                <a aria-current="page">Inici</a>
            </li>
        </ul>
    </nav>
    <ul class="workshops__items">
    {% for workshop_category in site.data.workshops %}
        <li>
	        <a
                class="workshops__item-anchor"
                data-target="{{ workshop_category.name }}"
	            href="{{ base.url }}ajax/workshops/{{ workshop_category.id }}.html"
	            aria-controls="workshops"
                hx-get="{{ base.url }}ajax/workshops/{{ workshop_category.id }}.html"
                hx-trigger="click"
	            hx-target="#workshops"
	        >
			    <article class="workshops__item media">
			        <figure class="workshops__item-image media-left">
			            <p class="image is-square">
			                <img src="{{ base.url }}assets/images/workshops/{{ workshop_category.id }}.png" alt="Portada de la familia de tallers '{{ workshop_category.name }}'" />
			            </p>
			        </figure>
			        <div class="workshops__item-info media-content">
			            <h2 class="title is-4">{{ workshop_category.name }}</h2>
			            <p class="subtitle is-5">{{ workshop_category.description }}</p>
			        </div>
			    </article>
	        </a>
        </li>
    </div>
    {% endfor %}
