---
layout: compress
---

    <nav class="workshops__breadcrumb breadcrumb is-small has-arrow-separator visible" aria-label="breadcrumbs">
        <ul>
            <li>
                <a
                    href="ajax/workshops/categories.html"
                    hx-get="ajax/workshops/categories.html"
                    hx-target="#workshops"
                    aria-controls="#workshops"
                >Inici</a>
            </li>
            <li class="is-active">
                <a aria-current="page">Aprenentatges oberts</a>
            </li>
        </ul>
    </nav>
    <ul class="workshops__items">
        {% assign workshops = site.workshops | where: "category", "open-learning" %} 
        {% for workshop in workshops %}
        <li>
            <a
                href="{{ base.url }}{{ workshop.url }}"
                class="workshops__item-anchor"
                data-taget="{{ workshop.id }}"
            >
                <article class="workshops__item media">
                    <figure class="workshops__item-image media-left">
                        <p class="image is-square">
                            <img src="{{ base.url }}assets/images/{{ workshop.id }}.png" alt="Portada del taller '{{ workshop.title }}'" />
                        </p>
                    </figure>
                    <div class="workshops__item-info media-content">
                        <h2 class="title is-4">{{ workshop.title }}</h2>
                        <p class="subtitle is-5">{{ workshop.description }}</p>
                    </div>
                </article>
            </a>
        </li>
        {% endfor %}
    </ul>
