---
layout: default
title: Còdec | Blog
page: blog
---

<link rel="stylesheet" href="{{ base.url }}/assets/css/pages/blog.css" />

<div class="blog__banner"></div>
<h3 class="blog__title title is-3">El blog de Còdec</h3>
{% assign cat_len = site.categories | size %}
{% if cat_len > 1 %}
<aside class="blog__categories level is-mobile">
  <label>Categories:</label>
  <ul class="blog__categories-list level-right">
    {% for category in site.categories %}
    <li class="level-item">
      <a
        data-category="{{ category | first }}"
        class="blog__category"
        href="/ajax/cat/{{ category | first }}/index.html"
        hx-get="/ajax/cat/{{ category | first }}/index.html"
        hx-target="#archive"
        aria-control="archive"
    >{{ category | first }}</a
      >
    </li>
    {% endfor %}
    <button></button>
  </ul>
</aside>
{% endif %}

<div id="archive" aria-live="polite"></div>

<script src="{{ base.url }}/assets/js/pages/blog.js"></script>
