---
---

@import "reset";
@import "colors";
@import "viewport";
@import "breakpoints";

main.workshop {
    padding: $header-height $site-paddings 3rem;
}

.workshop__breadcrumb {
  margin-top: 1em;
}

.workshop__image {
  height: 150px;
  width: 150px;
  max-width: vw(50);
  max-height: vw(50);

  @include m-media(sm) {
    height: 200px;
    width: 200px;
  }
}

.workshop__content {
	p {
		&.centered { 
			text-align: center;
		}

		&.align-right {
			text-align: end;
		}

		&.no-bottom {
			margin-bottom: 0px;
		}
	}

	blockquote {
		padding: .5em 1em;
		border-radius: 5px;
		border-color: $butterfly-bush;
		color: $tundora;
		font-style: italic;
		background-color: transparent;
	}
}

